
<div *ngIf="booking">
    <h2><span>Booking</span> {{booking.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Status</span></dt>
        <dd>
            <span>{{booking.status}}</span>
        </dd>
        <dt><span>Ride</span></dt>
        <dd>
            <div *ngIf="booking.ride">
                <a [routerLink]="['/ride', booking.ride?.id]">{{booking.ride?.destination}}</a>
            </div>
        </dd>
        <dt><span>Passenger</span></dt>
        <dd>
            <div *ngIf="booking.passenger">
                <a [routerLink]="['/passenger', booking.passenger?.id]">{{booking.passenger?.fullName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'booking/'+ booking.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
