
<div *ngIf="rideRequest">
    <h2><span>Ride Request</span> {{rideRequest.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Status</span></dt>
        <dd>
            <span>{{rideRequest.status}}</span>
        </dd>
        <dt><span>Ride</span></dt>
        <dd>
            <div *ngIf="rideRequest.ride">
                <a [routerLink]="['/ride', rideRequest.ride?.id]">{{rideRequest.ride?.destination}}</a>
            </div>
        </dd>
        <dt><span>Passenger</span></dt>
        <dd>
            <div *ngIf="rideRequest.passenger">
                <a [routerLink]="['/passenger', rideRequest.passenger?.id]">{{rideRequest.passenger?.fullName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ride-request/'+ rideRequest.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
