<div>
    <h2>
        <span>Ratings</span>
        <button class="btn btn-primary float-right jh-create-entity create-rating" [routerLink]="['/', { outlets: { popup: ['rating-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Rating
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ratings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span>Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="value"><span>Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="driver.fullName"><span>Driver</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="passenger.fullName"><span>Passenger</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rating of ratings ;trackBy: trackId">
                <td><a [routerLink]="['../rating', rating.id ]">{{rating.id}}</a></td>
                <td>{{rating.status}}</td>
                <td>{{rating.value}}</td>
                <td>
                    <div *ngIf="rating.driver">
                        <a [routerLink]="['../driver', rating.driver?.id ]" >{{rating.driver?.fullName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rating.passenger">
                        <a [routerLink]="['../passenger', rating.passenger?.id ]" >{{rating.passenger?.fullName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../rating', rating.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rating/'+ rating.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rating/'+ rating.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="ratings && ratings.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
