<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMessageLabel">Create or edit a Message</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!message.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="message.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_message">Message</label>
            <input type="text" class="form-control" name="message" id="field_message"
                [(ngModel)]="message.message"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_subject">Subject</label>
            <input type="text" class="form-control" name="subject" id="field_subject"
                [(ngModel)]="message.subject"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_msgDateTime">Msg Date Time</label>
            <div class="d-flex">
                <input id="field_msgDateTime" type="datetime-local" class="form-control" name="msgDateTime" [(ngModel)]="message.msgDateTime"
                  />
            </div>
        </div>

        <div class="form-group">
            <label for="field_userSender">User Sender</label>
            <select class="form-control" id="field_userSender" name="userSender" [(ngModel)]="message.userSender"  required>
                <option [ngValue]="userOption.id === message.userSender?.id ? message.userSender : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.firstName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.userSender?.dirty && editForm.controls.userSender?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.userSender?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label for="field_userReciver">User Reciver</label>
            <select class="form-control" id="field_userReciver" name="userReciver" [(ngModel)]="message.userReciver"  required>
                <option [ngValue]="userOption.id === message.userReciver?.id ? message.userReciver : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.firstName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.userReciver?.dirty && editForm.controls.userReciver?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.userReciver?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
