
<div *ngIf="ride">
    <h2><span>Ride</span> {{ride.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Address</span></dt>
        <dd>
            <span>{{ride.address}}</span>
        </dd>
        <dt><span>Destination</span></dt>
        <dd>
            <span>{{ride.destination}}</span>
        </dd>
        <dt><span>Map Point</span></dt>
        <dd>
            <span>{{ride.mapPoint}}</span>
        </dd>
        <dt><span>Ride Date Time</span></dt>
        <dd>
            <span>{{ride.rideDateTime | date:'medium'}}</span>
        </dd>
        <dt><span>Frequancy</span></dt>
        <dd>
            <span>{{ride.frequancy}}</span>
        </dd>
        <dt><span>Seat Gender</span></dt>
        <dd>
            <span>{{ride.seatGender}}</span>
        </dd>
        <dt><span>Seat Age</span></dt>
        <dd>
            <span>{{ride.seatAge}}</span>
        </dd>
        <dt><span>Smoking</span></dt>
        <dd>
            <span>{{ride.smoking}}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
            <span>{{ride.price}}</span>
        </dd>
        <dt><span>Luggage</span></dt>
        <dd>
            <span>{{ride.luggage}}</span>
        </dd>
        <dt><span>Mobile Number</span></dt>
        <dd>
            <span>{{ride.mobileNumber}}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
            <span>{{ride.comment}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{ride.status}}</span>
        </dd>
        <dt><span>Vehcile</span></dt>
        <dd>
            <div *ngIf="ride.vehcile">
                <a [routerLink]="['/vehcile', ride.vehcile?.id]">{{ride.vehcile?.name}}</a>
            </div>
        </dd>
        <dt><span>City</span></dt>
        <dd>
            <div *ngIf="ride.city">
                <a [routerLink]="['/city', ride.city?.id]">{{ride.city?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ride/'+ ride.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
