<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRideLabel">Create or edit a Ride</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!ride.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="ride.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="ride.address"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_mapPoint">Map Point</label>
            <input type="text" class="form-control" name="mapPoint" id="field_mapPoint"
                [(ngModel)]="ride.mapPoint"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_frequancy">Frequancy</label>
            <input type="text" class="form-control" name="frequancy" id="field_frequancy"
                [(ngModel)]="ride.frequancy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_destination">Destination</label>
            <input type="text" class="form-control" name="destination" id="field_destination"
                [(ngModel)]="ride.destination"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_seatAge">Seat Age</label>
            <input type="number" class="form-control" name="seatAge" id="field_seatAge"
                [(ngModel)]="ride.seatAge"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_mobileNumber">Mobile Number</label>
            <input type="number" class="form-control" name="mobileNumber" id="field_mobileNumber"
                [(ngModel)]="ride.mobileNumber"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_seatGender">Seat Gender</label>
            <select class="form-control" name="seatGender" [(ngModel)]="ride.seatGender" id="field_seatGender" >
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rideDateTime">Ride Date Time</label>
            <div class="d-flex">
                <input id="field_rideDateTime" type="datetime-local" class="form-control" name="rideDateTime" [(ngModel)]="ride.rideDateTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_smoking">Smoking</label>
            <input type="checkbox" class="form-control" name="smoking" id="field_smoking"
                [(ngModel)]="ride.smoking"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="ride.price"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                [(ngModel)]="ride.comment"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="ride.status" id="field_status" >
                <option value="CANCLED">CANCLED</option>
                <option value="DELAYED">DELAYED</option>
                <option value="EXPIRED">EXPIRED</option>
            </select>
        </div>

        <div class="form-group">
            <label for="field_vehcile">Vehcile</label>
            <select class="form-control" id="field_vehcile" name="vehcile" [(ngModel)]="ride.vehcile"  required>
                <option [ngValue]="vehcileOption.id === ride.vehcile?.id ? ride.vehcile : vehcileOption" *ngFor="let vehcileOption of vehciles; trackBy: trackVehcileById">{{vehcileOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.vehcile?.dirty && editForm.controls.vehcile?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.vehcile?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label for="field_city">City</label>
            <select class="form-control" id="field_city" name="city" [(ngModel)]="ride.city"  required>
                <option [ngValue]="cityOption.id === ride.city?.id ? ride.city : cityOption" *ngFor="let cityOption of cities; trackBy: trackCityById">{{cityOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.city?.dirty && editForm.controls.city?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.city?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
