
<div *ngIf="passenger">
    <h2><span>Passenger</span> {{passenger.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Full Name</span></dt>
        <dd>
            <span>{{passenger.fullName}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{passenger.user?.firstName}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'passenger/'+ passenger.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
