<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBookingLabel">Create or edit a Booking</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!booking.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="booking.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="booking.status" id="field_status" >
                <option value="CANCLED">CANCLED</option>
                <option value="CONFIRMED">CONFIRMED</option>
                <option value="REFUSED">REFUSED</option>
            </select>
        </div>

        <div class="form-group">
            <label for="field_ride">Ride</label>
            <select class="form-control" id="field_ride" name="ride" [(ngModel)]="booking.ride"  required>
                <option [ngValue]="rideOption.id === booking.ride?.id ? booking.ride : rideOption" *ngFor="let rideOption of rides; trackBy: trackRideById">{{rideOption.destination}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.ride?.dirty && editForm.controls.ride?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.ride?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label for="field_passenger">Passenger</label>
            <select class="form-control" id="field_passenger" name="passenger" [(ngModel)]="booking.passenger"  required>
                <option [ngValue]="passengerOption.id === booking.passenger?.id ? booking.passenger : passengerOption" *ngFor="let passengerOption of passengers; trackBy: trackPassengerById">{{passengerOption.fullName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.passenger?.dirty && editForm.controls.passenger?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.passenger?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
